body { 
  font-family:Arial, Helvetica, sans-serif;
  background: rgb(255, 255, 255);
  margin: auto;
  max-width: 1200px;
  min-width: 900px;
}

h1 { text-align: center;
  margin-bottom: 20px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

div > ul {
  list-style: none;
  padding-left: 0;
  color: #cac51f;
}

#nav {
  padding-inline-start: 5px;
  justify-content: left;
  align-items: flex-start;
}

img {
  max-width: 50%;
  height: auto;
  width: auto\9; /* ie8 */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer > p {
  font-size: .7em;
}

figcaption {
  text-align: center;
}


/* Styling the Navigation menu items */
a {
  color: #02C8A7;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

.thead {
  text-align: center;
}

th,
h5 {
  margin: 0;
}


/* CSS Grid settings and Div styling */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 170px 50px 40px 500px 50px;
  grid-gap: 1px;
}

.banner {
  grid-column: 1 / -1;
  padding: 5px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.nav {
  background: #F53240;
  grid-row: 2 / 5;
}

.pageHeading {
  background: #02C8A7;
  grid-column: 2 / -1;
}

.subHeading {
  background: #cac51f;
  grid-column: 2 / -1;
}

.contentArea {
  background: #7CDBD5;
  grid-column: 2 / -1;
  max-width: 100%;
  height: auto;
  width: auto;
}

.footer {
  background: #d8d107;
  grid-column: 1 / -1;
}

/* Table in Members Order page formating */
/* .imageContent,
.imageSlices,
.imageSlices td,
td,
tr,
img {
  margin: 0;
  border: 0;
  border-spacing: 0;
  padding: 0;
  
}

table {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
} */
